* {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 17px;
  letter-spacing: 1px;
}

#inner-main {
  background-image: url("https://cdn.pixabay.com/photo/2013/10/27/17/14/snowfall-201496_640.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}
#mainOverlay {
  width: 100%;
}

html[data-bs-theme="light"] #mainOverlay {
  background-color: #ffffff80;
}

html[data-bs-theme="dark"] #mainOverlay {
  background-color: #00000080;
}
s html[data-bs-theme="dark"] .navbar-nav .nav-link.active {
  font-weight: 600;
}

html[data-bs-theme="dark"] p,
html[data-bs-theme="dark"] span,
html[data-bs-theme="dark"] i,
html[data-bs-theme="dark"] h1,
html[data-bs-theme="dark"] h2,
html[data-bs-theme="dark"] h3,
html[data-bs-theme="dark"] h5,
html[data-bs-theme="dark"] a,
html[data-bs-theme="dark"] label {
  color: white;
}
#cardHover {
  transition: all 0.2s ease-in-out;
}

#cardHover:hover {
  transform: scale(1.1);
  background-color: #b2bfbe;
}
